
<h1> All my restaurants </h1>
<h2>List of my restaurants</h2>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <a href="/restaurants/<%= restaurant.id %>">
        <%= restaurant.name %>
      </a>

    </li>
  <% end %>
</ul>


<h2>Form</h2>
<form action="/restaurants" method="post">
  <label for="name">Name</label>
  <input type="text" name="name">

  <label for="address">Address</label>
  <input type="text" name="address">

  <input type="submit"/>

</form>
